.no-padding {
	padding: 0;
}

/*navbar top*/
.header {
	position: relative;
	min-height: 1px;
	width: 100%;
	font-size: 12px;
	font-weight: 400;
}

.nav-top a.nav-link {
	color: #ddd;
}

.navbar.nav-top {
	border-radius: 0;
}

.nav-top .container {
	width: 1100px;
	margin: 0 auto;
}

.navbar.nav-top {
	background: #1A1A1A;
	font-size: 16px;
}

.nav-top .app-dl {
	width: 100px;
	position: relative;
}

.nav-top ul.app-dl .nav-item + .nav-item {
	margin-left: 12px;
}

.nav-top .active a.nav-link, .nav-top a.nav-link:hover {
	color: #E60012;
}

.nav-top a.nav-link {
	padding-top: 5px;
	padding-bottom: 5px;
}

.nav-top .active a.nav-link {
	font-weight: 600;
}

.nav-top a.nav-link .fa {
	font-size: 22px;
}

.nav-top .nav-right {
	padding: 0;
}

.nav-top .nav-right a {
	font-size: 15px;
}

.nav-top .nav-right a .fa {
	font-size: 15px;
	padding-right: 3px;
	color: #E60012;
}

.nav-top .app-dl a:hover .fa-android {
	color: #6FD332;
}

.nav-top .app-dl a:hover .fa-apple {
	color: #fefefe;
}

.nav-main {
	padding-top: 20px;
	border-bottom: 1px solid #333;
	border-radius: 0;
	z-index: 8;
}

.main-menu {
	padding-top: 0;
	padding-bottom: 0;
}

.main-menu .nav-item a.nav-link {
	font-size: 16px;
	font-weight: 600;
	padding: 0 13px;
	color: #000;
	line-height: 62px;
	position: relative;
	display: block;
	z-index: 10;
}

.main-menu .nav-item.active a.nav-link,
.main-menu .nav-item a.nav-link:hover,
.main-menu .nav-item.has-child a.hover {
	color: #E60012;
}

.main-menu .nav-item.has-child a.nav-link:hover,
.main-menu .nav-item.has-child a.hover {
	background: rgba(0, 0, 0, 0) url(../images/common/arr_gnbSelectLang.png) no-repeat center bottom;
}

.main-menu .menu-layer {
	width: 100%;
	display: none;
	position: absolute;
	left: 0;
	z-index: 1;
	margin-top: -1px;
	padding: 30px 0;
	font-size: 13px;
	border-top: 1px solid #222;
	border-bottom: 1px solid #222;
	background: #f9f9f9;
}

.menu-layer > ul {
	width: 1170px;
	margin: 0 auto;
	list-style: none;
	position: relative;
}

.menu-layer li a {
	color: #666;
	font-size: 14px;
}

.menu-layer li a:hover {
	color: #E60012;
	text-decoration: underline;
}

.menu-layer > ul > li {
	float: left;
	height: 206px;
	width: 184px;
}

.menu-layer > ul > li + li {
	border-left: 1px solid #E8E8E8;
}

.menu-layer > ul > li > h3 {
	margin-bottom: 9px;
	padding-top: 0px;
	padding-left: 20px;
	font-size: 15px;
	font-weight: 700;
	color: #222;
}

.navbar-fixed-top {
	display: none;
	background: rgba(0, 0, 0, 0.6);
}

/*content-wrapper*/
.content-wrapper,
.content-wrapper .main-banner,
.content-wrapper .content-about,
.content-wrapper .content-articles,
.content-wrapper .content-medias,
.content-articles .articles,
.content-medias .media-post,
.content .sns {
	width: 100%;
	margin: 0 auto;
	min-height: 1px;
	position: relative;
}

.content-wrapper .main-banner {
	max-width: 100%;
	background: url("../images/common/bg_slide.png");
}

.content-wrapper .main-banner:after,
.content-wrapper .content-about,
.content-wrapper .content-articles:after,
.content-wrapper .content-medias:after,
.content-title:after,
.content-medias .media-post:after,
.content-articles .articles:after {
	content: "";
	clear: both;
	display: table;
}

.main-banner .carousel-control {
	background: rgba(0, 0, 0, 0);
}

.main-banner .carousel-control span[aria-hidden=true] {
	width: 60px;
	height: 110px;
	font-size: 100px;
	color: #E60012;
	margin-top: -50px;
}

.content-wrapper .content-about {
	padding: 0;
	width: 100%;
	margin: 1px 0 0;
	clear: both;
	/*min-width: 1100px;*/
	/*max-width: 1600px;*/
}

.content-about div.avatar-cover {
	width: 70%;
	height: 600px;
	float: left;
	background-size: cover;
	background-position: center;
	box-shadow: 2px 2px #ddd;
}

.content-wrapper .content-articles {
	background: #f7f7f9 none repeat scroll 0%;
	margin: 0px auto 0px;
	padding: 60px 0px 40px;
	min-width: 1100px;
}

.content-articles .content-title {
	color: #1A1A1A;
	width: 88%;
	margin: 0 auto;
	min-height: 1px;
	position: relative;
}

.content-title div,
.content-title .title {
	position: relative;
	float: left;
}

.content-title .title {
	font-size: 27px;
	font-weight: 700;
	color: #E60012;
}

.content-title .sort-tab {
	position: absolute;
	right: 0;
}

.sort-tab nav {

}

.sort-tab ul.nav li.nav-item {
	text-align: right;
	display: inline-block;
}

.sort-tab ul.nav li.nav-item a.nav-link {
	color: #666;
	font-weight: 400;
	margin: 0 9px;
}

.sort-tab ul.nav li.nav-item + li.nav-item {
	border-left: solid 1px #ddd;
}

.sort-tab ul.nav li.nav-item a.nav-link:hover {
	color: #E60012;
}

.sort-tab ul.nav li.nav-item.active a.nav-link {
	border-bottom: 1px solid #E60012;
	font-weight: 600;
	color: #1A1A1A;
}

.content-articles {
	margin-left: -6px;
	margin-right: -6px;
}

.content-articles .articles {
	width: 88%;
	margin-top: 20px;
}

.articles .article {
	position: relative;
	width: 20%;
	float: left;
	margin: 0;
	margin-bottom: 12px;
	padding-left: 6px;
	padding-right: 6px;
}

.article .content {
	padding-bottom: 8px;
	position: relative;
	background: #fff;
	max-height: 500px;
	overflow: hidden;
	height: auto;
	transition-duration: 0.4s;
	box-shadow: 2px 2px 2px #ddd;
}

.article .content:hover {

	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	z-index: 30;
}

.content img.img-thumbnail {
	padding: 0;
	border: none;
	border-radius: 0;
}

.content .title {
	padding: 0 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.content .title .link {
	color: #000;
	font-weight: 500;
	font-size: 18px;
	overflow: hidden;
	white-space: normal;
	display: inline-block;
	text-overflow: ellipsis;
	text-decoration: none;
}

.content .sub-title {
	position: relative;
	font-weight: normal;
	color: #666;
	font-size: 12px;
	width: 100%;
	display: block;
	padding: 0 15px;
	height: 124px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.solid-line {
	height: 1px;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	background: #ddd;
}

.solid-line:after {
	clear: both;
	content: "";
	display: table;
}

.content div.sns {
	width: 100%;
	padding: 0 15px;
}

.content .sns a.sns {
	font-size: 12px;
	font-weight: bold;
	color: #7F7F7F;
}

.content .sns > ul > li {
	display: inline-block;
}

.content .sns > ul > li + li {
	margin-left: 14px;
}

.content .sns a.sns:before {
	content: "";
	display: inline-block;
	height: 14px;
	width: 14px;
	margin: 0px 6px -3px 0px;
	background-repeat: no-repeat;
	background-size: auto auto;
	background-image: url("../images/ico/fb-ico.png");
}

.content .sns a.like:before {
	background-position: -30px -150px;
}

.sns a.sns.already {
	color: #E60012;
}

.content .sns a.like.already:before {
	background-position: -45px -150px;
}

.sns a.comment:before {
	background-position: -15px -150px;
}

.sns a.share:before {
	background-position: 0px -166px;
}

.sns a.share.already:before {
	background-position: 0 -150px;
}

.content-wrapper .content-medias {
	margin-top: 20px;
	width: 100%;
	min-width: 1100px;
	max-width: 1600px;
	padding: 0;
}

.content-medias .media-post {
	float: left;
	display: block;
	position: relative;
	width: 20%;
	padding: 0 5px;
}

.content-medias .media-post:first-child {
	padding-left: 0;
	padding-right: 10px;
}

.content-medias .media-post:last-child {
	padding-left: 10px;
	padding-right: 0;
}

.media-post .content {
	width: 100%;
	margin: 0;
	height: 180px;
	position: relative;
	background-size: cover;
	transition-duration: 0.6s;
	background-position: center;
}

.media-post .content:hover {
	cursor: pointer;
	box-shadow: 2px 2px 2px #ddd;
	z-index: 30;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

.content .mark {
	display: block;
	background-color: rgba(0, 0, 0, 0);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
}

.mark.video {
	background-image: url(../images/ico/movie_play_mark.png);
}

