/*content-wrapper*/
.content-wrapper,
.content-wrapper .main-banner,
.content-wrapper .content-about,
.content-wrapper .content-articles,
.content-wrapper .content-medias,
.content-articles .articles,
.content-medias .media-post,
.content .sns {
	width: 100%;
	margin: 0 auto;
	min-height: 1px;
	position: relative;
}

.content-wrapper .main-banner {
	max-width: 100%;
}

.main-banner .carousel-img {
	position: relative;
	width: 100%;
	height: 555px;
	background-position: center;
	background-size: cover;
}

.content-wrapper .main-banner:after,
.content-wrapper .content-about,
.content-wrapper .content-articles:after,
.content-wrapper .content-medias:after,
.content-title:after,
.content-medias .media-post:after,
.content-articles .articles:after {
	content: "";
	clear: both;
	display: table;
}

.main-banner .carousel-control {
	background: rgba(0, 0, 0, 0);
}

.main-banner .carousel-control span[aria-hidden=true] {
	width: 60px;
	height: 110px;
	font-size: 100px;
	color: #E60012;
	margin-top: -50px;
}

.content-wrapper .content-about {
	padding: 60px;
	color: #e5e5e5;
	border-top: 1px solid #E60012;
}

.content-about .about {
	min-width: 600px;
	max-width: 800px;
	width: 100%;
	position: relative;
	margin: 0 auto;
}

.about-avt .img-circle {
	width: 153px;
	height: 150px;
	margin: 0 auto;
	display: block;
	padding: 3px;
	background: #FFF;
}

.about {
	margin: 10px auto !important;
}

.about .btn-secondary {
	background: #BE252A;
	color: #e5e5e5;
	border-color: #BE252A;
}

.about .btn-secondary:hover {
	background: #e5e5e5;
	border-color: #e5e5e5;
	color: #BE252A;
	box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.6);
}

.about h3 {
	color: #BE252A;
	/*text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);*/
}

.content-wrapper .content-articles {
	background: #f7f7f9 none repeat scroll 0%;
	margin: 0px auto 0px;
	padding: 60px 0px 40px;
	min-width: 1100px;
}

.content-articles .content-title {
	color: #1A1A1A;
	width: 88%;
	margin: 0 auto;
	min-height: 1px;
	position: relative;
}

.content-title div,
.content-title .title {
	position: relative;
	float: left;
}

.content-title .title {
	font-size: 27px;
	font-weight: 700;
	color: #E60012;
}

.content-title .sort-tab {
	position: absolute;
	right: 0;
}

.sort-tab nav {

}

.sort-tab ul.nav li.nav-item {
	text-align: right;
	display: inline-block;
}

.sort-tab ul.nav li.nav-item a.nav-link {
	color: #666;
	font-weight: 400;
	margin: 0 9px;
}

.sort-tab ul.nav li.nav-item + li.nav-item {
	border-left: solid 1px #ddd;
}

.sort-tab ul.nav li.nav-item a.nav-link:hover {
	color: #E60012;
}

.sort-tab ul.nav li.nav-item.active a.nav-link {
	border-bottom: 1px solid #E60012;
	font-weight: 600;
	color: #1A1A1A;
}

.content-articles {
	margin-left: -6px;
	margin-right: -6px;
}

.content-articles .articles {
	width: 88%;
	margin-top: 20px;
}

.articles .article {
	position: relative;
	width: 20%;
	float: left;
	margin: 0;
	margin-bottom: 12px;
	padding-left: 6px;
	padding-right: 6px;
}

.article .content {
	padding-bottom: 8px;
	position: relative;
	background: #fff;
	max-height: 500px;
	overflow: hidden;
	height: auto;
	transition-duration: 0.4s;
	box-shadow: 2px 2px 2px #ddd;
}

.article .content:hover {

	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	z-index: 30;
}

.content div.img-thumbnail {
	padding: 0;
	height: 175px;
	width: 100%;
	background-size: cover;
	background-position: center;
	border: none;
	border-radius: 0;
}

.content .title {
	padding: 0 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.content .title .link {
	color: #000;
	font-weight: 500;
	font-size: 18px;
	overflow: hidden;
	white-space: normal;
	display: inline-block;
	text-overflow: ellipsis;
	text-decoration: none;
}

.content .sub-title {
	position: relative;
	font-weight: normal;
	color: #666;
	font-size: 12px;
	width: 100%;
	display: block;
	padding: 0 15px;
	height: 124px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.solid-line:after {
	clear: both;
	content: "";
	display: table;
}

.content div.sns {
	width: 100%;
	padding: 0 15px;
}

.content .sns a.sns {
	font-size: 12px;
	font-weight: bold;
	color: #7F7F7F;
}

.content .sns > ul > li {
	display: inline-block;
}

.content .sns > ul > li + li {
	margin-left: 14px;
}

.content .sns a.sns:before {
	content: "";
	display: inline-block;
	height: 14px;
	width: 14px;
	margin: 0px 6px -3px 0px;
	background-repeat: no-repeat;
	background-size: auto auto;
	background-image: url("../images/ico/fb-ico.png");
}

.content .sns a.like:before {
	background-position: -30px -150px;
}

.sns a.sns.already {
	color: #5890FF;
}

.content .sns a.like.already:before {
	background-position: -45px -150px;
}

.sns a.comment:before {
	background-position: -15px -150px;
}

.sns a.share:before {
	background-position: 0px -166px;
}

.sns a.share.already:before {
	background-position: 0 -150px;
}

.content-wrapper .content-medias {
	margin-top: 20px;
	width: 100%;
	min-width: 1100px;
	max-width: 1600px;
	padding: 0;
}

.content-medias .media-post {
	float: left;
	display: block;
	position: relative;
	width: 20%;
	padding: 0 5px;
}

.content-medias .media-post:first-child {
	padding-left: 0;
	padding-right: 10px;
}

.content-medias .media-post:last-child {
	padding-left: 10px;
	padding-right: 0;
}

.media-post .content {
	width: 100%;
	margin: 0;
	height: 180px;
	position: relative;
	background-size: cover;
	transition-duration: 0.6s;
	background-position: center;
}

.media-post .content:hover {
	cursor: pointer;
	box-shadow: 2px 2px 2px #ddd;
	z-index: 30;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

.content .mark {
	display: block;
	background-color: rgba(0, 0, 0, 0);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
}

.mark.video {
	background-image: url(../images/ico/movie_play_mark.png);
}

.modal.media .modal-dialog {
	width: 100%;
	min-width: 1000px;
	max-width: 1600px;
	top: 50%;
	margin-top: -325px;
}

.media .modal-dialog .viewer {
	width: 70%;
	margin: 0;
	padding: 0;
	position: relative;
	background: #000;
	height: 650px;

}

.media .modal-dialog .viewer img {
	position: absolute;
	display: table-cell;
	margin: 0 auto;
	padding: 0;
}

.media .modal-dialog .modal-body {
	padding: 0;
}